@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    flex-direction: column;
    color: #5D6063;
    background: #F9F9F9;  
}

/* layout of sections with a shadow */

.shadow {
    padding: 30px 0;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}

/* navigation bar  */

nav {
    display: flex;
    background: #D7E9F7;
    color: #0078AA;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 3vh;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo {
    margin-left: 2rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* hero Section - reuseable headings */

header, h4, p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 4.5rem;
    padding-bottom: 20px;
}

h4 {
    font-size: 2rem;
}

#quote {
    font-size: 1.5rem;
    padding: 20px;
    font-style: italic;
}

/* main Section  */

 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

 /* about Me section */

 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 2rem;
 }

h2 {
    font-size: 2rem; 
    margin: 0 0 1rem;
 }

 img {
    width: 200px;
    border-radius: 50%;
    border-color: #0078AA;
    border-style: solid;
    margin-bottom: 10px;
 } 

 
 /* experience section */

 h3 {
    margin: 5px;
 }

 p, h3 {
    padding: 10px;
 }

 article .professional i {
    margin: 5px;
    color:#0078AA;
 }

 /* project section */
 
 .project1 {
    width: 100px;
    height: 100px;
    border: 1px solid #0078AA;
 }

 .project1-1 {
    width: 100px;
    height: 100px;
    border: 1px solid #0078AA;
 }

 .project2 {
    width: 100px;
    height: 100px;
    border: 1px solid #0078AA;
 }

 .project2-2 {
    width: 100px;
    height: 100px;
    border: 1px solid #0078AA;
 }

 .project3 {
    width: 100px;
    height: 100px;
    border: 1px solid #0078AA;
 }

 .project3-3 {
    width: 100px;
    height: 100px;
    border: 1px solid #0078AA;
 }




 






/* Footer Section */


footer {
    background-color: #D7E9F7;
}

footer p {
    color: #0078AA;
    text-align: center;
    padding: 1rem;
}


/* Media Breakoints */

@media only screen and (min-wdith: 750px) {
.heading_title {
    font-size: 57px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 12px
    }
}

/* Blog Page */

#blogMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* blog buttons */

.btn {
    margin: 10px;
    background: #0078AA;
    background-image: -webkit-linear-gradient(top, #0078AA, #006aaa);
    background-image: -moz-linear-gradient(top, #0078AA, #006aaa);
    background-image: -ms-linear-gradient(top, #0078AA, #006aaa);
    background-image: -o-linear-gradient(top, #0078AA, #006aaa);
    background-image: linear-gradient(to bottom, #0078AA, #006aaa);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border: solid #0078AA 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }